<header>
	<h1>Dachshund gifs!</h1>
</header>
<main>
<div class="box">
	<a href="/">
		<img src="<%= @response %>" class="gif">
	</a>
	</div>
	<h6><div class="reload">(click the gif for a new one)</div></h6>
</main>
<footer>
	<small>&copy; lmdragun</small>
</footer>
