<header>
  <h1>Dachshund gifs!</h1>
</header>
<main>
  <div class="box">
    <a href="/">
      <img src="<%= @response %>" class="gif" alt="Doxies!" >
    </a>
  </div>
  <h2>Click the gif for a new one</h2>
</main>
<footer>
  <small>&copy; lmdragun</small>
</footer>
